extends base/base.pug

block contents
  head
    title Document
  style.
    .location {
      margin: 20px;
      font-size: 18px;
      text-align: center;
      color: #6998ab;
      font-weight: bold;
    }

    .inventory {
      text-align: center;
      margin: 20px 0;
      font-weight: bold;
    }

    .player-wrap {
      display: flex;
      justify-content: center;
    }

    .player {
      margin: 0 20px;
      border: 1px solid #6998ab;
      padding: 20px;
      width: 150px;
    }

    .player-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      color: #6998ab;
    }

    .message {
      font-size: 20px;
      text-align: center;
      margin: 20px;
      font-weight: bold;
    }

    .button-wrap {
      display: flex;
      justify-content: center;
    }

    .button-battle {
      padding: 15px 20px;
      border: none;
      border-radius: 10px;
      background-color: #6998ab;
      color: white;
      font-weight: bold;
      font-size: 20px;
      margin: 30px 10px;
    }

    .button-battle:hover {
      cursor: pointer;
    }

    .button-location {
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: #6998ab;
      color: white;
      font-weight: bold;
      margin: 10px;
    }

    .button-location:hover {
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

  body
    .location ðŸ”¥Lv.#{ level }ðŸ”¥ í˜„ìž¬ ìœ„ì¹˜: (#{ x }, #{ y })

    if inventory
      .inventory ðŸ“‹ì¸ë²¤í† ë¦¬: #{ inventory }
    else
      .inventory ðŸ—‘ì¸ë²¤í† ë¦¬ê°€ ë¹„ì—ˆìŠµë‹ˆë‹¤.

    .player-wrap
      .player
        .player-title ë‚˜ì˜ ìŠ¤íƒ¯
        div âœ“ HP: #{ hp } / 10
        div âœ“ ê³µê²©ë ¥: #{ str }
        div âœ“ ë°©ì–´ë ¥: #{ def }

    .message #{ locationMessage }

    if isBattle
      .button-wrap
        a(href="/playground/battle")
          button.button-battle ë°°í‹€ ì‹œìž‘
    else
      .button-wrap
        if x !== 9
          form(action="/playground/east", method="post")
            input.button-location(type="submit", value="âž¡ ë™")
        if x !== 0
          form(action="/playground/west", method="post")
            input.button-location(type="submit", value="â¬… ì„œ")
        if y !== 0
          form(action="/playground/south", method="post")
            input.button-location(type="submit", value="â¬‡ ë‚¨")
        if y !== 9
          form(action="/playground/north", method="post")
            input.button-location(type="submit", value="â¬† ë¶")
    //.button-wrap
    //  button.button-dir#control âž¡ ë™
    //  button(onclick= 'sendDir("1")').button-dir â¬… ì„œ
    //  button(onclick='sendDir("2")').button-dir â¬‡ ë‚¨
    //  button(onclick='sendDir("3")').button-dir â¬† ë¶

  //script.
  //  document.getElementById('#{control}').addEventListener('click', () => console.log("done"))
  //
  //  const sendDir = function(direction) {
  //    console.log("done");
  //
  //    // return await axios.post({
  //    //   "url": "/playground",
  //    //   "data": {direction},
  //    // });
  //  };
  //  sendDir(1);
